<body style="background-color: rgb(78, 78, 78);">
    <div style="padding-top: 5%;" align="center">
        <mat-card style="width: 30%; max-width: 400px;min-width: 300px; background-color: rgb(224, 224, 224);">
            <h2 style="color: rgb(0, 0, 0);">Lucas Carbone 4A</h2><br>
            <img src="assets/imagenAlumno.jpg" style="width: 200px;border-radius: 25px;border-color: white;" border="5">

            <br>
            <br>
            <p style="color: rgb(0, 0, 0);">
                Mi Juego consiste en que uno tiene 5 oportunidades para adivinar que numeros hay en
                un array de 60 numeros. El array contiene numeros que van 1 al 100. Por cada
                numero que no acierte, sera una oportunidad menos para la proxima ronda. En 
                caso de atinarle a todos los numeros, se le agregara una nueva oportunidad.
            </p>
            <br>
        </mat-card>
    </div>
</body>
