<mat-toolbar color="primary" style="background-image: url('assets/backgroundMenu.jpg');background-position: 50%;background-size: cover;">
    <button *ngIf="botones" mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
        <mat-icon primary>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>trending_up</mat-icon>
        <span>Estadisticas</span>
      </button>
      <button mat-menu-item routerLink="acercaDe">
        <mat-icon>sentiment_very_satisfied</mat-icon>
        <span>Acerca de</span>
      </button>
      <button mat-menu-item (click)="CerrarSesion()">
        <mat-icon>power</mat-icon>
        <span>Cerrar Sesion</span>
      </button>
    </mat-menu>
    <button *ngIf="botones" mat-icon-button routerLink="" class="example-icon">
        <mat-icon primary>house</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>Sala de Juegos</span>
</mat-toolbar>

