.mat-card{
    width: 90%;
    height: 60%;
    margin:5%;
}

button.btnJuego{
    height: 70%; 
    width: 90%;
    background-color: rgb(126, 126, 126);
    background-position: 50%;background-size: cover;
    
}

h2{
    color: rgb(255, 255, 255);
}