<div style="background-color: rgb(78, 78, 78);height: 100%;">
    <mat-grid-list style="background-color: rgb(78, 78, 78);" [cols]="breakpoint" [rowHeight]="alturaColumnas" (window:resize)="onResize($event)">
        <mat-grid-tile><button mat-raised-button routerLink="/anagrama" style="background-image: url('assets/imagenAnagrama.jpg');" class="btnJuego"><h2>Anagrama</h2></button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button routerLink="/piedraPapelTijera" style="background-image: url('assets/imagenPiedraPapelTijera.jpg');" class="btnJuego"><h2>Priedra Papel Tijera</h2></button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button routerLink="/agilidadAritmetica" style="background-image: url('assets/imagenAgilidadAritmetica.jpg');" class="btnJuego" ><h2>Agilidad Aritmetica</h2></button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button routerLink="/adivinaNumero" style="background-image: url('assets/imagenAdivinaNumer.jpg');" class="btnJuego" ><h2>Adivina el Numero</h2></button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button routerLink="/tateti" style="background-image: url('assets/imagenTateti.jpg');" class="btnJuego"><h2>TaTeTi</h2></button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button routerLink="/memotest" style="background-image: url('assets/imagenMemotest.jpg');" class="btnJuego"><h2>Memotest</h2></button></mat-grid-tile>
        <mat-grid-tile><button mat-raised-button routerLink="/juegoAlumno" class="btnJuego"><h2>Juego del Alumno</h2></button></mat-grid-tile>
    </mat-grid-list>
</div>

