<div style="background-color: rgb(78, 78, 78);height: 100%;" align="center">
    <br>
    <br>
    <mat-card style="max-width: 400px;width: 70%;">
        <mat-card-header>
            <h2>Iniciar Sesión</h2>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="profileForm" class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Correo</mat-label>
                    <input formControlName="correo" matInput name="correo" type="email" placeholder="Ingrese correo"
                        [(ngModel)]="correo">
                </mat-form-field>
                <br>
                <b style="color:rgb(165, 0, 0);" *ngIf="!profileForm.controls.correo.valid">Correo Inválido</b>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Clave</mat-label>
                    <input formControlName="clave" matInput name="clave" type="password" placeholder="Ingrese clave"
                        [(ngModel)]="clave">
                </mat-form-field>
                <br>
                <b style="color:rgb(156, 0, 0);" *ngIf="!profileForm.controls.clave.valid">
                    Clave Inválida
                </b>
            </form>
            <br>
            <button mat-raised-button color="primary" [disabled]="!profileForm.valid" style="width: 120px;" (click)="Verificar()">Ingresar</button>
            <button mat-raised-button color="secondary" style="width: 120px;"
                routerLink="/registro">Registrarse</button>
        </mat-card-content>
    </mat-card>
</div>