<div style="background-color: rgb(78, 78, 78);height: 100%;">
    <div align="center" class="fondo" [style]="estilosAnimaciones">
        <div style="backdrop-filter: blur(10px);height: 100%;">
            <br>
            <mat-card
                style="width: 50%;margin-top: 10%;min-width: 300px; max-width: 500px;background-color: rgb(219, 219, 219);">
                <mat-card-header>
                    <h1>Adivina El Numero (0-10)</h1>
                </mat-card-header>
                <br>
                <form action="">
                    <mat-form-field class="example-full-width">
                        <input type="number" matInput name="numeroIngresado" [(ngModel)]="numeroIngresado"
                            placeholder="Ingrese respuesta">
                    </mat-form-field>
                    <br>
                    <br>
                    <button style="width: 60%;" (click)="VerificarNumero()" mat-raised-button color="primary">
                        Verificar Numero
                    </button>
                    <br>
                    <br>
                    <br>
                </form>
            </mat-card>
        </div>
    </div>
</div>